@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-image: url("Pagina 01/pixelcut-export.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;  
  
}

.img-class{
    width: 45%;
    left: 45%;
    margin-left: 50%;
}
.img-roxo{
    opacity: 0,5;
    position: static;
}
.img-logo {
    position: fixed; 
    top: 0;
    left: 2%;
    width: 300px; 
    height: auto; 
    margin-bottom: 50px; 
    cursor: pointer; 
}
.img-logo:hover {
    transform: scale(1.1); 
}
P{
    font-size: 90px;
    font-family: "Oswald", sans-serif;
    position: absolute;
    margin-top: 10%;
    left: 2%;
}
.text-sm-left{
    font-size: 20px;
    margin-top: 20%;
    left: 2%;
    margin-right: 55%;
    font-family: "Raleway", sans-serif;
    text-align: justify;
}
.btn-primary{
    background-color: transparent;
    border: 2px solid rgb(134, 58, 255);
    color: rgb(134, 58, 255);
    padding: 20px 80px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 38%;
    left: 2%;
    position: absolute;
    transition: transform 0.3s ease, border-color 0.3s ease;

}
.btn-primary:hover{
    background-color: rgb(59, 8, 143);
    border-color: white;
    color: white;
    
}

.btn-primary2{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 20px 80px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 38%;
    left: 20%;
    position: absolute;
    transition: transform 0.3s ease, border-color 0.3s ease;

}
.btn-primary2:hover{
    background-color: white;
    border-color: rgb(59, 8, 143);
    color: rgb(59, 8, 143);
}

